// 整体布局

.app-container {
  max-width: 1200px;
  margin: 0 auto;
}

.sub-page {
  padding-top: 20px;
  padding-bottom: 20px;
}

// screen 响应式 < 1240px
@media screen and(max-width: 1240px) {
  .app-container {
    max-width: 100%;
    margin-left: 20px;
    margin-right: 20px;
  }
}

.flex {
  display: flex;
  &.top {
    align-items: flex-start;
  }
  &.bottom {
    align-items: flex-end;
  }
  &.middle {
    align-items: center;
  }
  &.center {
    justify-content: center;
  }
  &.end {
    justify-content: flex-end;
  }
  &.between {
    justify-content: space-between;
  }
}

.img-layout {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: none;
  column-gap: 20px;
  row-gap: 20px;
  justify-items: center;
}

@media screen and (max-width: (1065px + 40px)) {
  .img-layout {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: (800px + 40px)) {
  .img-layout {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: (480px + 40px)) {
  .img-layout {
    grid-template-columns: repeat(1, 1fr);
  }
}